{
    "root": true,
    "plugins": ["prettier"],
    "extends": ["eslint:recommended", "prettier"],
    "rules": {
        "prettier/prettier": 2,
        "no-use-before-define": [
            "error",
            { "functions": true, "classes": true }
        ],
        "no-var": "error",
        "prefer-const": "error"
    },
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "env": {
        "node": true,
        "es6": true
    }
}
